.container {
  display: flex;
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  background-color: yellow;
  flex-wrap: wrap;

}

.grid div {
  height: 20px;
  width: 20px;
}

.tetromino {
  background-color: blue;
}

.mini-grid {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
}

.mini-grid div {
  height: 20px;
  width: 20px;
}